# Create Database Table - PostgreSQL

In [1]:
import psycopg2

In [2]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Date, Integer, Float, String, MetaData, ForeignKey
from sqlalchemy import inspect
from sqlalchemy import text

In [3]:
# shorter traceback error messages
from functools import partial
get_ipython().showtraceback = partial(get_ipython().showtraceback,exception_only=True)

### database connection

In [4]:
db_username = 'postgres' 
db_password = 'postgres'
db_ipaddress = 'localhost' 
db_port = '5432' 
db_dbname = 'nasa_temp_anomalies'

In [5]:
conn_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=db_username,
                        password=db_password,
                        ipaddress=db_ipaddress,
                        port=db_port, 
                        dbname=db_dbname)) 
conn_str

'postgresql://postgres:postgres@localhost:5432/nasa_temp_anomalies'

In [6]:
#engine = create_engine(conn_str, echo=True)
engine = create_engine(conn_str)

#### sqlalchemy metadata

In [7]:
glb_metadata = MetaData()
nh_metadata = MetaData()
sh_metadata = MetaData()

In [8]:
# define global table object structure
glb = Table(
    "glb",
    glb_metadata,
    Column("id", Integer, primary_key=True),
    Column("date", Date),
    Column("year", Integer),
    Column("month", Integer),
    Column("mth", String(3)),
    Column("zone", String(3)),
    Column("tempc", Float),
)
nh = Table(
    "nh",
    nh_metadata,
    Column("id", Integer, primary_key=True),
    Column("date", Date),
    Column("year", Integer),
    Column("month", Integer),
    Column("mth", String(3)),
    Column("zone", String(3)),
    Column("tempc", Float),
)
sh = Table(
    "sh",
    sh_metadata,
    Column("id", Integer, primary_key=True),
    Column("date", Date),
    Column("year", Integer),
    Column("month", Integer),
    Column("mth", String(3)),
    Column("zone", String(3)),
    Column("tempc", Float),
)

In [9]:
glb_cols = glb.c.keys()
print(glb_cols)

['id', 'date', 'year', 'month', 'mth', 'zone', 'tempc']

In [10]:
glb.c.year

Column('year', Integer(), table=<glb>)

In [11]:
glb.c.date

Column('date', Date(), table=<glb>)

In [12]:
inspector = inspect(engine)

In [13]:
check_cols = inspector.get_columns('glb')
check_cols

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': "nextval('glb_id_seq'::regclass)",
  'autoincrement': True,
  'comment': None},
 {'name': 'date',
  'type': DATE(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'year',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'month',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'mth',
  'type': VARCHAR(length=3),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'zone',
  'type': VARCHAR(length=3),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'tempc',
  'type': DOUBLE_PRECISION(precision=53),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

### Drop Table

In [14]:
stmt = text("DROP TABLE IF EXISTS glb")
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit();

In [15]:
stmt = text("DROP TABLE IF EXISTS nh")
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit();

In [16]:
stmt = text("DROP TABLE IF EXISTS sh")
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit();

### Create new table

In [17]:
glb_metadata.create_all(engine)

In [18]:
nh_metadata.create_all(engine)

In [19]:
sh_metadata.create_all(engine)