# Insert Records - PostgreSQL

### libraries

In [1]:
import os
import calendar
import warnings
import requests
import pandas as pd

In [2]:
import psycopg2

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Date, Integer, Float, String, MetaData, ForeignKey
from sqlalchemy import text
#from sqlalchemy import insert

In [4]:
# shorter traceback error messages
from functools import partial
get_ipython().showtraceback = partial(get_ipython().showtraceback,exception_only=True)

### directories

In [5]:
home_dir = home_dir = os.path.expanduser("~")
work_dir = os.path.join(home_dir, 'kr', 'db')
data_dir = os.path.join(home_dir, 'kr', 'df', 'save') # use data from kr/df save directory
save_dir = os.path.join(home_dir, 'kr', 'db', 'save')

In [6]:
def create_directory(directory_name):
    if not os.path.exists(directory_name):
        os.mkdir(directory_name)

In [7]:
create_directory(work_dir)
create_directory(data_dir)
create_directory(save_dir)

In [8]:
os.chdir(work_dir)
os.getcwd()

'/Users/rkforest/kr/db'

### database connection

In [9]:
db_username = 'postgres' 
db_password = 'postgres'
db_ipaddress = 'localhost' 
db_port = '5432' 
db_dbname = 'nasa_temp_anomalies'

In [10]:
conn_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=db_username,
                        password=db_password,
                        ipaddress=db_ipaddress,
                        port=db_port, 
                        dbname=db_dbname)) 
conn_str

'postgresql://postgres:postgres@localhost:5432/nasa_temp_anomalies'

In [11]:
#engine = create_engine(postgres_str, echo=True)
engine = create_engine(conn_str)

#### sqlalchemy metadata

glb_metadata = MetaData()

# define global table object structure
glb = Table(
    "glb",
    gt_metadata,
    Column("id", Integer, primary_key=True),
    Column("date", Date),
    Column("year", Integer),
    Column("month", Integer),
    Column("mth", String(3)),
    Column("zone", String(3)),
    Column("tempc", Float),
)

glb_cols = glb.c.keys()
print(gt_cols)

### import data

In [12]:
file_name = "global_temperature_anomalies.csv"
file_path = os.path.join(data_dir, file_name)

'/Users/rkforest/kr/df/save/global_temperature_anomalies.csv'

In [13]:
dfg = pd.read_csv(file_path,
                  skiprows=0,
                  sep=',',
                  parse_dates=['Date'],
                  index_col=0 
                 )

        Date  Year  Month  Mth Zone  Temp
0 1880-01-01  1880      1  Jan  GLB -0.18

In [22]:
file_name = "northern_temperature_anomalies.csv"
file_path = os.path.join(data_dir, file_name)

In [23]:
dfn = pd.read_csv(file_path,
                  skiprows=0,
                  sep=',',
                  parse_dates=['Date'],
                  index_col=0 
                 )

In [24]:
file_name = "southern_temperature_anomalies.csv"
file_path = os.path.join(data_dir, file_name)

In [25]:
dfs = pd.read_csv(file_path,
                  skiprows=0,
                  sep=',',
                  parse_dates=['Date'],
                  index_col=0 
                 )

In [14]:
dfg.reset_index(inplace=True)

   index       Date  Year  Month  Mth Zone  Temp
0      0 1880-01-01  1880      1  Jan  GLB -0.18

In [26]:
dfn.reset_index(inplace=True)

In [27]:
dfs.reset_index(inplace=True)

In [18]:
dfg.rename(columns={'index': 'id', 'Date': 'date', 'Year': 'year', 'Month': 'month', 'Mth': 'mth',  'Zone': 'zone',  'Temp': 'tempc'},
          inplace=True)

   id       date  year  month  mth zone  tempc
0   0 1880-01-01  1880      1  Jan  GLB  -0.18

In [29]:
dfn.rename(columns={'index': 'id', 'Date': 'date', 'Year': 'year', 'Month': 'month', 'Mth': 'mth',  'Zone': 'zone',  'Temp': 'tempc'},
          inplace=True)

In [30]:
dfs.rename(columns={'index': 'id', 'Date': 'date', 'Year': 'year', 'Month': 'month', 'Mth': 'mth',  'Zone': 'zone',  'Temp': 'tempc'},
          inplace=True)

stmt = text("TRUNCATE glb, nh, sh")
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit();

In [36]:
with engine.connect() as conn:
    dfg.to_sql('glb', con=conn, if_exists='replace',index=False)
    dfn.to_sql('nh', con=conn, if_exists='replace',index=False)
    dfs.to_sql('sh', con=conn, if_exists='replace',index=False)
    conn.commit();