# Insert Records - PostgreSQL

In [1]:
import psycopg2

In [2]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Date, Integer, Float, String, MetaData, ForeignKey
from sqlalchemy import inspect
from sqlalchemy import text

from sqlalchemy import insert
from sqlalchemy import select

In [3]:
import pandas as pd

In [4]:
# shorter traceback error messages
from functools import partial
get_ipython().showtraceback = partial(get_ipython().showtraceback,exception_only=True)

### database connection

In [5]:
db_username = 'postgres' 
db_password = 'postgres'
db_ipaddress = 'localhost' 
db_port = '5432' 
db_dbname = 'nasa_temp_anomalies'

In [6]:
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=db_username,
                        password=db_password,
                        ipaddress=db_ipaddress,
                        port=db_port, 
                        dbname=db_dbname)) 
postgres_str

'postgresql://postgres:postgres@localhost:5432/nasa_temp_anomalies'

In [7]:
#engine = create_engine(postgres_str, echo=True)
engine = create_engine(postgres_str)

#### sqlalchemy metadata

In [8]:
gt_metadata = MetaData()

In [9]:
# define global table object structure
gt = Table(
    "glbx",
    gt_metadata,
    Column("id", Integer, primary_key=True),
    Column("date", Date),
    Column("year", Integer),
    Column("month", Integer),
    Column("mth", String(3)),
    Column("zone", String(3)),
    Column("tempc", Float),
)

In [10]:
gt_cols = gt.c.keys()
print(gt_cols)

['id', 'date', 'year', 'month', 'mth', 'zone', 'tempc']

### Insert using text method

stmt = text("INSERT INTO glbx (year, jan, feb) VALUES (2099, 1.1, 1.2)")

with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

stmt = text("SELECT year, jan FROM glb WHERE year > 2020 ORDER BY year LIMIT 5")

with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)
        print(f"year: {row.year}  jan: {row.jan}")

#### Insert using construct method

stmt = insert(gt).values(year=2199, jan=2.1, feb=2.2)

with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

stmt = text("SELECT year, jan, feb FROM glb WHERE year > 2020 ORDER BY year LIMIT 5")

with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)
        print(f"year: {row.year}  jan: {row.jan} Feb: {row.feb}")

#### Insert Multiple Rows

insert_rows = [
            {"year": 2000, "jan": 1.1},
            {"year": 2001, "jan": 2.1},
            {"year": 2002, "jan": 3.1},
            {"year": 2003, "jan": 4.1},
        ]

with engine.connect() as conn:
    result = conn.execute(
        insert(gt),
        insert_rows,
    )
    conn.commit()

stmt = text("SELECT year, jan, feb FROM glb WHERE year >= 2000 ORDER BY year LIMIT 5")

with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)
        print(f"year: {row.year}  jan: {row.jan} Feb: {row.feb}")

#### sqlalchemy session

In [15]:
from sqlalchemy.orm import Session

### Query

In [16]:
stmt = select(gt).where(gt.c.year > 2021)
print (stmt)

SELECT glbx.id, glbx.date, glbx.year, glbx.month, glbx.mth, glbx.zone, glbx.tempc
FROM glbx
WHERE glbx.year > :year_1

In [17]:
with Session(engine) as session:
    result = session.execute(stmt)
    for row in result:
        print(row)
        print(f"year: {row.year}  month: {row.month}")

#### pandas df

stmt = text("SELECT * FROM global LIMIT 5;")

pd.read_sql_query('''SELECT * FROM pokemon LIMIT 5;''', cnx)

with engine.connect() as conn:
    df= pd.read_sql_query(stmt, conn)

df.head()

stmt = select(gt).where(gt.c.year > 2020)
print (stmt)

with engine.connect() as conn:
    df= pd.read_sql_query(stmt, conn)

df.head()